body {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  .container{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;  
  }

  #myNavbar{
    position: relative;
    left:350px;
   }

  .navbar{
    max-width: 960px;
    margin: 0 auto;
    clear: both; 

  }
  .dropdown-menu{
    max-width: 960px;
    margin: 0 auto;
    clear: both; 
    
  }

  #photoBooth {
    padding-top:50px;
    /*height: 950px;*/
    color: #fff; 
    background-color: #1E88E5;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;  }

  #mintOfTheDay {
    padding-top:50px;
    /*height:1000px;*/
    color: #fff; 
    background-color: lightgreen;}

  #mintLog {
    padding-top:50px;
    /*height:1000px;*/
    color: #fff; 
    background-color: #ff9800;}

  #signUp{
    padding-top:50px;
    /*height:1000px;*/
    color: #fff; 
    background-color: #00bcd4;}

  #signUp {
    padding-top:50px;
    /*height:1000px;*/
    color: #fff; 
    background-color: #009688;
    text-align: center;
  }

  input{
    max-width: 900px;
  }

  .checkbox label, .radio label {
    min-height: 20px;
    padding-left: 40px;
  }
div.recommendedMusic {
    width: 100%;
    height: 690px;
    overflow: hidden;
}

div .newMusic img {
  width: 210px;
}


.table {
    color: black;
}

.picUpload{
    display: block;
    position: relative
}

#panelMint{
  overflow: scroll;
  height: 100%;
}

.panel{
  text-align: center;
}

.panelLog{
  height: 100%;
  width: 100%;
  overflow: auto;
}

li {
  display: inline-block;
  margin: 10px;
}

li > img{
  width: 100px;
}

tr:hover {
  background-color: lightblue;
}

th{
  text-align: center;
}

#selfie {
  height: 100%;
  margin: 10px;
}

#selfie > img{
  width: 200px;
}

#textJournal {
  width: 100%;
  height: 200px;
  color: black;
}

#snap {
  width: 100%;
  margin: 10px 0;
}

#snap:hover {
  background-color: lightgreen;
}

#personPhoto {
  height: 200px;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}

h2 {
  font-size: 15px;
}